a:hover {
    text-decoration: none !important;
}

.infinit-move-1, .infinit-move-1-hover:hover {
    animation: infinitMove1 2s infinite alternate;
    transform: translateY(-20px); /* Starting position */
}

@keyframes infinitMove1 {
    0%, 100% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(0);
    }
}

.infinit-move-2 {
    animation: infinitMove2 2s infinite alternate;
    transform: translateY(-20px); /* Starting position */
}

@keyframes infinitMove2 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.infinit-move-3 {
    animation: infinitMove3 2s infinite alternate;
    transform: translateY(-20px); /* Starting position */
}

@keyframes infinitMove3 {
    0%, 100% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(0);
    }
}

.infinit-move-4 {
    animation: infinitMove4 2s infinite alternate;
    transform: translateY(-20px); /* Starting position */
}

@keyframes infinitMove4 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.infinit-move-hover:hover {
    animation: infinitMove2 2s infinite alternate;
}

#ecosystem-page .react-reveal, #phron-page .react-reveal {
    width: 100%;
}


.scroll-down {
	nav {
		transform: translate3d(0, -100%, 0);
	}
}

nav {
    filter: drop-shadow(0 -10px 20px #5900d7);
}
.scroll-up {
	nav {
		filter: drop-shadow(0 -10px 20px #5900d7);
	}
}

.menu-is-open {
	overflow: hidden;

	nav {
		filter: none;
	}
}

.btn {
    padding: 20px 80px;
    border: none;
    outline: none;
    position: relative;
    border-radius: 50px;
    background: linear-gradient(to right, #a159b7, #1245d9);
    cursor: pointer;
    width: 100%;
    max-width: 249px;
    height: 73px;
    font-family: inherit;
    letter-spacing: 1px;
}

.btn::before {
    content: "Contact Us";
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background-color: #03020b;
    border-radius: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    text-transform: uppercase;
}

.btn:hover {
    background: linear-gradient(to right,#1245d9, #a159b7);
}